/* Definitions for all the colors */
/* Definitions for all the font related styles */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
}

#sudoku-container {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 100%;
}

.sudoku-board {
  margin: 0 auto;
  width: auto;
  height: 100%;
  border: 2px solid #959595;
  border-spacing: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.sudoku-3x3-table {
  border-collapse: collapse;
  text-align: center;
}

.sudoku-3x3-table td {
  width: 60px;
  height: 60px;
  border: 1.5px dashed #c2c2c2;
  color: #007ee5;
  cursor: pointer;
}

td.initialDataValue {
  color: #464646;
  cursor: default;
}

td[data-row="1"] {
  border-top-width: 0px;
}

td[data-column="1"] {
  border-left-width: 0px;
}

td[data-row="3"] {
  border-bottom-width: 0px;
}

td[data-column="3"] {
  border-right-width: 0px;
}

td[data-table="2"], td[data-table="4"], td[data-table="6"], td[data-table="8"] {
  background-color: #ebebeb;
}

tr[data-board-row="1"] > td[data-table],
tr[data-board-row="2"] > td[data-table] {
  border-bottom: 2px solid #959595;
}

td[data-board-column="1"][data-table],
td[data-board-column="2"][data-table] {
  border-right: 2px solid #959595;
}
