<div class="guess-values-widget">
    <div class="guess-values-menu">
        <!-- Purposedly end the span tag in the next line to avoid unwanted gap sapce
        between span elements -->
        <span class="guess-value">1</span
        ><span class="guess-value">2</span
        ><span class="guess-value">3</span
        ><span class="guess-value">4</span
        ><span class="guess-value">5</span
        ><span class="guess-value">6</span
        ><span class="guess-value">7</span
        ><span class="guess-value">8</span
        ><span class="guess-value">9</span>
    </div>
    <div class="overlay"></div>
</div>