<table class="sudoku-board">
    <tr data-board-row="1">
        <td data-table="1">1</td>
        <td data-table="2">2</td>
        <td data-table="3">3</td>
    </tr>
    <tr data-board-row="2">
        <td data-table="4">4</td>
        <td data-table="5">5</td>
        <td data-table="6">6</td>
    </tr>
    <tr data-board-row="3">
        <td data-table="7">7</td>
        <td data-table="8">8</td>
        <td data-table="9">9</td>
    </tr>
</table>