<div class="sudoku-game-solved-banner">
    <div class="sudoku-banner-container">
        <div class="sudoku-banner">{{sudokuBannerText}}</div>
        <div class="sudoku-new-game-container">
            <button name="new-game-button" class="sudoku-new-game-button">Play a new game!</button>
        </div>
    </div>
    <div class="overlay"></div>
</div>