<table class="sudoku-3x3-table">
    <tr>
        <td data-sub-table-row="1" data-sub-table-column="1">{{[1]}}</td>
        <td data-sub-table-row="1" data-sub-table-column="2">{{[2]}}</td>
        <td data-sub-table-row="1" data-sub-table-column="3">{{[3]}}</td>
    </tr>
    <tr>
        <td data-sub-table-row="2" data-sub-table-column="1">{{[4]}}</td>
        <td data-sub-table-row="2" data-sub-table-column="2">{{[5]}}</td>
        <td data-sub-table-row="2" data-sub-table-column="3">{{[6]}}</td>
    </tr>
    <tr>
        <td data-sub-table-row="3" data-sub-table-column="1">{{[7]}}</td>
        <td data-sub-table-row="3" data-sub-table-column="2">{{[8]}}</td>
        <td data-sub-table-row="3" data-sub-table-column="3">{{[9]}}</td>
    </tr>
</table>