<table class="sudoku-board">
    <tr data-board-row="1">
        <td data-board-column="1" data-table="1"></td>
        <td data-board-column="2" data-table="2"></td>
        <td data-board-column="3" data-table="3"></td>
    </tr>
    <tr data-board-row="2">
        <td data-board-column="1" data-table="4"></td>
        <td data-board-column="2" data-table="5"></td>
        <td data-board-column="3" data-table="6"></td>
    </tr>
    <tr data-board-row="3">
        <td data-board-column="1" data-table="7"></td>
        <td data-board-column="2" data-table="8"></td>
        <td data-board-column="3" data-table="9"></td>
    </tr>
</table>