<table class="sudoku-3x3-table">
    <tr data-row="1">
        <td data-row="1" data-column="1">{{[1]}}</td>
        <td data-row="1" data-column="2">{{[2]}}</td>
        <td data-row="1" data-column="3">{{[3]}}</td>
    </tr>
    <tr data-row="2">
        <td data-row="2" data-column="1">{{[4]}}</td>
        <td data-row="2" data-column="2">{{[5]}}</td>
        <td data-row="2" data-column="3">{{[6]}}</td>
    </tr>
    <tr data-row="3">
        <td data-row="3" data-column="1">{{[7]}}</td>
        <td data-row="3" data-column="2">{{[8]}}</td>
        <td data-row="3" data-column="3">{{[9]}}</td>
    </tr>
</table>