/* Definitions for all the colors */
$royal-blue: #007EE5;
$royal-red: #EB2B36;
$light-royal-red: #EB858B;

$white: #fff;
$lightest-gray: #EBEBEB;
$very-light-gray: #E1E1E1;
$light-gray: #C2C2C2;
$gray: #959595;
$dark-gray: #707070;
$very-dark-gray: #464646;
$black: #000;