/* Definitions for all the font related styles */
$font-family : Helvetica, sans-serif;
$font-size-large: 2em;
$font-size-medium: 1.5em;
$font-size-small: 1em;
$font-color-initial: $very-dark-gray; 
$font-color-guess: $royal-blue;